.images:hover{
  background-color: #000;
}
p{
  margin:0;
}

.userPic{
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
  display: inline-block;
}
.hoverCaption{
  background-color: rgba(0,0,0,0.5);
}
hr{
  border: none;
  height: 1px;
  background-color: #e8e8e8;
  color: #e8e8e8;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.dismiss:hover{
  color:'#fff',
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
